@import "../sass/mixins";

.Layout {
  header {
    height: 400px;
    background-size: cover;
    background-position: left 80%;
  }
}
.Container {
  margin-left: auto;
  margin-right: auto;

  @include resp-min-desktop-sm {
    max-width: 800px;
  }
  @include resp-min-desktop-md {
    max-width: 992px;
  }
}
